@page
@model WordSearchSolver.Pages.SolverModel
@{
    ViewData["Title"] = "Solver";
}

<div class="text-left">
    <h1 class="display-4">Word Search Solver</h1>
</div>

<table class="board">
    <tr>
        <td>
            Found Words: @Puzzle.wordList.Count
        </td>
        <td>
            <form method="post">
                <div>
                    <input required type="text" name="word" />
                    <input type="submit" value="Find" />
                </div>
            </form>
        </td>
    </tr>
    <tr>
        <td id="words_list">
            @for (int i = 0; i < Puzzle.wordList.Count; i++)
            {
                <div>
                    <a asp-page-handler="Test" asp-route-id="@i">
                        <div>
                            @Puzzle.wordList.ElementAt(i).word
                        </div>
                    </a>
                </div>
            }
        </td>
        <td>
            <table class="grid_table">
                @for (int i = 0; i < Puzzle.y; i++)
                {
                    <tr class="grid_row">
                        @for (int j = 0; j < Puzzle.x; j++)
                        {
                            if (@Puzzle.textGrid[i, j].IsActive)
                            {
                                <td class="grid_cell_active">
                                    @Puzzle.textGrid[i, j].Value
                                </td>
                            }
                            else
                            {
                                <td class="grid_cell_inactive">
                                    @Puzzle.textGrid[i, j].Value
                                </td>
                            }
                        }
                    </tr>
                }
            </table>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <img src="~/Images/image.jpg" />
        </td>
    </tr>
</table>

@if (Puzzle.UploadAnsFlag == true)
{
    <table class="AnsBoard">
        <tr>
            <th>Number</th>
            <th>Word</th>
        </tr>

        @for (var i = 0; i < Puzzle.AnsList.Count; i++)
        {
            <tr>
                <td>@i</td>
                <td>@Puzzle.AnsList[i]</td>
            </tr>
        }
    </table>
}


